# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Project-specific
\#*
.DS_Store
*~
*.anjuta
*.cache
*.db
*.gschema.valid
*.tgz
*.zip
*.m4
*.Po
compile
config.h
config.h.in
config.log
config.status
configure
create_debian_package.txt
Debug
depcomp
ezeedo
ezeedo.desktop
git-tags.txt
install-sh
Makefile
Makefile.in
missing
stamp-*
todo.txt
